<ion-view class='Login'>
	<ion-content class='padding'>
		

		<div class="list">
			<br><br><br><br>
			
		  <label class="item item-input">
		    <input placeholder="Email Address"type="text">
		  </label><br>

		 
		  <label class="item item-input">
		    <input placeholder="Password"type="password">
		  </label><br>
		  <button class="button button-positive button-full">
			  Login
			</button>
			<center><a href="">Forget your password?</a></center>
		</div>


	</ion-content>

</ion-view>