<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-speedometer-outline" icon-on="ion-ios-speedometer" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Leads Tab -->
  <ion-tab title="Leads" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" href="#/tab/leads">
    <ion-nav-view name="tab-leads"></ion-nav-view>
  </ion-tab>

  <!-- Lists Tab -->
  <ion-tab title="Lists" icon-off="ion-ios-list-outline" icon-on="ion-ios-list" href="#/tab/lists">
    <ion-nav-view name="tab-lists"></ion-nav-view>
  </ion-tab>

  <!-- Settings Tab -->
  <ion-tab title="Settings" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/settings">
    <ion-nav-view name="tab-settings"></ion-nav-view>
  </ion-tab>

  <!-- Temporary Login Tab -->
  <ion-tab title="Login" icon-off="ion-ios-redo-outline" icon-on="ion-ios-redo" href="#/tab/login">
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>








</ion-tabs>
