<ion-view view-title="Account">
  <ion-content>


	    <ul class="list">
			    <p class="item item-divider">DEVICE</p>

			    <ion-toggle class="item" ng-model="settings.enableFriends">
			        Push Notifications
			    </ion-toggle></br></br>

	    		<p class="item item-divider">HELP & Support</p>
			    <a href="#/tab/settings/support" class="item">
			     	<p>Support</p>
			    </a>
			    <a href="" class="item">
			     	<p>Training</p>
			    </a>
			    <a href="" class="item">
			     	<p>System Status</p>
			    </a>
			    <a href="" class="item">
			     	<p>Legal</p>
			    </a></br></br>

			    <p class="item item-divider">FEEDBACK</p>

			    <a class="item">
		    		<p>Give us Feedback</p>
		    	</a>
			</ul>
	    </br>


  </ion-content>
</ion-view>
