<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{lead.name}}">
  <ion-content class="padding">
    <div>
      </br></br>
      <center>
        <img ng-src="{{lead.face}}" style="width: 64px; height: 64px">
        <p>COO Touchbase LLC</p>
        <p>You haven't spoken recently.</p>
        <a href="#/tab/leads/:leadId/email"><i style="font-size:40px;" class = "icon ion-ios-email"></i></a>
      </center>
      </br></br>
    </div>

    <div class="button-bar">
      <a class="button">Information</a>
      <a class="button">Activity</a>
      <a class="button">Notes</a>
    </div></br>

    <ul class="list">
      <li class="item item-divider"><p>Lists</p></li>
      <li><a href="" class="item">Unlisted</a></li></br>
      <li class="item item-divider"><p>Email Address</p></li>
      <li class=""><a class="item" href="">Touchbasetools.com</a></li>
      <li><a class="item" href="">ericolis@gmail.com</a></li>
    </ul>
  </ion-content>
</ion-view>
