<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list">

    	<!-- test 1 -->
	    <a class="item item-avatar" href="#">

	      <img src="img/mike.png">
	      <div class="row">
	      	<h2 class="col col-25">Ven1</h2>
	      	<p class="col col-offset-33">3 days ago</p>
	      </div>

	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <!-- test 2 -->
	    <a class="item item-avatar" href="#">

	      <img src="img/ben.png">
	      <div class="row">
	      	<h2 class="col col-25">Ven2</h2>
	      	<p class="col col-offset-33">6 days ago</p>
	      </div>

	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <!-- test 3 -->
	    <a class="item item-avatar" href="#">

	      <img src="img/max.png">
	      <div class="row">
	      	<h2 class="col col-25">Ven3</h2>
	      	<p class="col col-offset-33">2 days ago</p>
	      </div>

	      <p>Back off, man. I'm a scientist.</p>
	    </a>

	    <!-- test 4 -->
	    <a class="item item-avatar" href="#">

	      <img src="img/perry.png">
	      <div class="row">
	      	<h2 class="col col-25">Ven4</h2>
	      	<p class="col col-offset-33">9 days ago</p>
	      </div>

	      <p>Back off, man. I'm a scientist.</p>
	    </a>
   

		</div>
    
  </ion-content>
</ion-view>
